@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* General layouts */
.max-width {
  @apply max-w-[1440px] mx-auto
}

.hero-component {
  @apply flex flex-col md:flex-row items-center py-16 px-5 gap-4
}

.padding-x {
  @apply px-2 lg:px-14
}

.padding-y {
  @apply py-16 sm:py-32
}


/* text colors */
.heading1 {
  @apply text-4xl
}

.heading2 {
  @apply text-xl
}

.description1 {
  @apply text-lg
}

/* flex */
.flex-center {
  @apply w-full flex items-center justify-center
}

/* button */

.btn {
  @apply rounded-lg shadow-sm px-4 py-[0.5rem] font-medium uppercase
}



