@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* General layouts */
.max-width {
  @apply max-w-[1440px] mx-auto
}

.padding-y {
  @apply py-16 sm:py-32
}

/* text colors */
.primary {
  @apply text-green-600
}

.primary-hover {
  @apply text-green-800
}

.secondary {
  @apply text-indigo-600
}

.secondary-hover{
  @apply text-indigo-800
}

/* flex */
.flex-center {
  @apply flex items-center justify-center
}



